# Librerías para procesamiento de imágenes
pillow==10.4.0

# Modelos de NLP con HuggingFace
transformers==4.44.2

# Torch solo CPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu

#Nota: tu torch==2.4.1+cpu sirve si correrás en CPU. 
#Si quieres GPU, cambia a torch CUDA (lo vemos después).
